<launch>
  <arg name="map_name"   default="" />

  <!-- Run goal publisher -->
  <node pkg="goal_publisher" type="locogoal_pub" name="goal_publisher" />

  <!-- Start the map server to make the static map available -->
  <node pkg="nav_grid_server" type="server" name="map_server" args="$(find rover_nav)/maps/$(arg map_name).yaml" unless="$(eval $(arg map_name) == '')" />

  <!-- Run obstacle perception post-processing nodes -->
  <include file="$(find sensors)/launch/obstacle_tracker.launch" />
  <node pkg="sensors" type="obstacle_filter" name="obstacle_filter" output="screen" />

  <!-- Run the amcl relocator from the navigation stack -->
  <node pkg="amcl" type="amcl" name="amcl" >
      <param name="max_particles" value="5000" />
      <param name="odom_model_type" value="diff-corrected" />
      <param name="odom_alpha1" value="0.005"/>
      <param name="odom_alpha2" value="0.005"/>
      <param name="odom_alpha3" value="0.010"/>
      <param name="odom_alpha4" value="0.005"/>
      <!--param name="odom_alpha5" value="0.003"-->
      <!--remap from="map" to="move_base/global_costmap/costmap"/-->
  </node>

  <!-- Launch locomotor with params -->
  <node name="locomotor" pkg="locomotor" type="locomotor1" output="screen">
    <rosparam file="$(find rover_nav)/nav_config/global_costmap_params_mapless.yaml" command="load" if="$(eval $(arg map_name) == '')" />
    <rosparam file="$(find rover_nav)/nav_config/global_costmap_params.yaml" command="load" unless="$(eval $(arg map_name) == '')"/>
    <rosparam file="$(find rover_nav)/nav_config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find rover_nav)/nav_config/global_planner_params.yaml" command="load"/>
    <rosparam file="$(find rover_nav)/nav_config/local_planner_params.yaml" command="load"/>
  </node>

</launch>
