<launch>

  <param name="use_sim_time"  value="true"/>

  <arg name="use_scan"        default="false"/>

  <!-- If use scan is true, launch the appropriate -->
  <!-- pointcloud converter and the pseudo scan node -->
    <!-- Pointcloud converter -->
    <node pkg="nodelet" type="nodelet" args="manager" name="depth_to_pointcloud_manager" output="screen" if="$(arg use_scan)"/>
    <node pkg="nodelet" type="nodelet" name="reasense_depth2pointcloud" args="load depth_image_proc/point_cloud_xyzrgb depth_to_pointcloud_manager" output="screen">
      <remap from="depth_registered/image_rect" to="/depth/image_raw" />
      <remap from="rgb/image_rect_color"        to="/image_raw"       />
      <remap from="rgb/camera_info"             to="/camera_info"     />
      <remap from="depth_registered/points"     to="/new_pointcloud"/>
    </node>

    <!-- Pseudolidar -->
    <node pkg="sensors" name="min_scan" type="min_2Dscan" if="$(arg use_scan)"/>

  <!-- Additional transforms needed -->
    <node pkg="tf" type="static_transform_publisher" name="tf_camera_depth_slam" args = "0 0 0 -1.570796 0 -1.57 camera_link depth_image_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_map_odom" args = "0 0 0 0 0 0 map odom 100"/>



  <!-- Launch mapping -->
    <include file="$(find rtabmap_ros)/launch/rgbd_mapping.launch" >
      <arg name="rgb_topic"              value="/image_raw"       />
      <arg name="camera_info_topic"      value="/camera_info"     />
      <arg name="depth_registered_topic" value="/depth/image_raw" />
      <arg name="visual_odometry"        value="true"/>
      <arg name="frame_id"               value="base_footprint"/>
      <arg name="odom_topic"             value="rtab_odom"/>
      <!--arg name="odom_frame_id"          value=""/-->
      <arg name="wait_for_transform"     value="1.0"/>
      <arg name="rtabmap_args"           value="--delete_db_on_start"/>
      <arg name="subscribe_scan"         value="$(arg use_scan)"/>
      <arg name="scan_topic"             value="/min_scan/scan"/>
    </include>

</launch>
